<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc, Version=2013.2.611.340, Culture=neutral, PublicKeyToken=121fae78165ba3d4" requirePermission="false" />
    </sectionGroup>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Processing.Config.ReportingConfigurationSection, Telerik.Reporting, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <Telerik.Reporting>
    <Extensions>
      <Render>
        <Extension name="CSV">
          <Parameters>
            <Parameter name="NoStaticText" value="true" />
          </Parameters>
        </Extension>
      </Render>
    </Extensions>
  </Telerik.Reporting>
  <appSettings file="athoc.config">
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2500" />
    <add key="ActionTeamNotificationScenario" value="ACTION-TEAM-NOTIFICATION" />
    <add key="EndUserNotificationScenario" value="END-USER-NOTIFICATION" />
    <add key="PlatformVersion" value="6.1.85" />
    <add key="WalkMeEnv" value="Prod" />
    <add key="AppleConnect" value="false" />
    <add key="AppleConnect.LoginUrl" value="https://idmsa-uat.apple.com/IDMSWebAuth/login.html" />
    <add key="AppleConnect.LoginUrl|baseUrl" value="https://aealocal.apple.com/client/auth/AppleConnect" />
    <add key="AppleConnect.LoginUrl|path" value="client/auth/AppleConnect" />
    <add key="AppleConnect.LoginUrl|rv" value="2" />
    <add key="AppleConnect.ValidationUrl" value="https://idmsa-uat.apple.com/IDMSWebAuth/validate.html" />
    <add key="AppleConnect.UrlValidationCacheTimeSpan" value="300" />
    <add key="AppleConnect.AppId" value="2564" />
    <add key="AppleConnect.AppIdKey" value="cc4439ce529d41fd39ff122243e6639075ff99d52eaef14c1ce1c3dc715d806e" />
    <add key="AppleConnect.AppAdminPassword" value="25r67ibxwbbz95h" />
    <add key="AppleConnect.CookieName" value="myacinfo-uat" />
    <add key="AppleConnect.Domain" value=".apple.com" />
    <add key="AppleConnect.ClientIPServerVariable" value="REMOTE_ADDR" />
    <add key="AppleConnect.ClientIPHeader" value="X_FORWARDED_FOR" />
    <add key="AppleConnect.TEST-ClientIP" value="17.244.136.86" />
  </appSettings>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="auth">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="media" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pub">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MobileMap">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="site/css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="cssJS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="error">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MsDotNetClient/Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MsDotNetClient/Telerik.Web.UI.SpellCheckHandler.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Health/Status">
    <system.web>
      <httpRuntime executionTimeout="300" />
    </system.web>
  </location>
  <location path="SmartCard">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="false" targetFramework="4.7">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="AtHoc.Runtime, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148270b0172fe65b" />
        <add assembly="AtHoc.Publishing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=A3C843E733DA279F" />
        <add assembly="AtHoc.Operators, Version=1.0.0.0, Culture=neutral, PublicKeyToken=91f5969a8010c058" />
        <add assembly="AtHoc.Scheduling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=922b65a42693f814" />
        <add assembly="AtHoc.Devices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b87eca5c94c1d368" />
        <add assembly="AtHoc.Data.Management, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b322b877713f05b1" />
        <add assembly="AtHoc.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=057e6b535bb9f296" />
        <add assembly="AtHoc.SystemJobs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=eaee4a01a80a2e64" />
        <add assembly="AtHoc.Systems, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2915a2082c81e9db" />
        <add assembly="AtHoc.IWS.SSA.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148270b0172fe65b" />
        <add assembly="AtHoc.IWS.SSA.Business.Facades, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148270b0172fe65b" />
        <add assembly="AtHoc.IWS.SSA.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148270b0172fe65b" />
        <add assembly="AtHoc.VirtualSystems, Version=1.0.0.0, Culture=neutral, PublicKeyToken=52cf434473028d5f" />
        <add assembly="AtHoc.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=226c0f2cc47c851d" />
        <add assembly="AtHoc.EntityExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12bda6da5903e06e" />
        <add assembly="Telerik.Reporting, Version=7.1.13.802, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="Telerik.Web.Design, Version=2013.1.403.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add assembly="Telerik.Web.Mvc, Version=2013.2.611.340, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add assembly="Telerik.Web.UI, Version=2013.1.403.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add assembly="Telerik.Web.UI.Skins, Version=2013.1.403.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
        <add assembly="EO.Pdf, Version=4.0.36.2, Culture=neutral, PublicKeyToken=e92353a6bf73fffc" />
        <add assembly="AtHoc.Targeting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ee5fcc4dc9cc6736" />
        <add assembly="AtHoc.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ac52508b956bcec9" />
        <add assembly="AtHoc.Diagnostics.Monitoring, Version=1.0.0.0, Culture=neutral, PublicKeyToken=aebba0a5c6799396" />
        <add assembly="AtHoc.UI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5cdcfe6563287f5c" />
        <add assembly="AtHoc.SelfService, Version=1.1.0.0, Culture=neutral, PublicKeyToken=e23bf76c37bd1559" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="AtHoc.IWS.Events, Version=1.0.0.0, Culture=neutral, PublicKeyToken=148270b0172fe65b" />
        <add assembly="AtHoc.Delivery.IIM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5c7486f516fa08b6" />
      </assemblies>
    </compilation>
    <machineKey decryptionKey="43CA8E1ED5D0EABF8DDDB15D7D529B2B500081436D34C21E" validationKey="A20A8A02B9BBAC71BF26A28A9D673857B82B76BDA48C7950878D8299583B7F3A7C10AEC0BCD2ACA285AE511F0BA039D17F9D8EFB07CDB51808F0046EC717FE6F" />
    <sessionState mode="InProc" regenerateExpiredSessionId="true" timeout="20" />
    <authentication mode="Forms">
      <forms name=".ATHOCMS" loginUrl="/client/auth/login" defaultUrl="/athoc-iws" protection="All" path="/" slidingExpiration="true" timeout="20" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <customErrors mode="RemoteOnly" />
    <pages validateRequest="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false" />
      <add path="*.asp" verb="GET,HEAD,POST" type="MSDotNetClient.AspHttpHandler" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add verb="*" validate="false" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" validate="true" />
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <add verb="GET,HEAD" path="sitemap.axd" validate="false" type="Telerik.Web.Mvc.SiteMapHandler, Telerik.Web.Mvc" />
    </httpHandlers>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Image" duration="2147483647" varyByParam="id" />
          <add name="Audio" duration="2147483647" varyByParam="id" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime maxRequestLength="51200" requestValidationMode="2.0" requestLengthDiskThreshold="51200" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="asp.net" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="MvcScriptMap" preCondition="classicMode,bitness32" verb="*" path="*.mvc" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
      <add name="MvcScriptMap64" preCondition="classicMode,bitness64" verb="*" path="*.mvc" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource,Telerik.Web.UI" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.axd" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.1.10.921, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
      <remove name="MvcHttpHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="UrlRoutingHandler" />
      <remove name="AssetHandler" />
      <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <remove name="SiteMapHandler" />
      <add name="SiteMapHandler" preCondition="integratedMode" verb="GET,HEAD" path="SiteMap.axd" type="Telerik.Web.Mvc.SiteMapHandler, Telerik.Web.Mvc" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1000.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="BusinessTransaction" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="btm" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="btm" type="AtHoc.BTM.Agent.BtmTraceListener, AtHoc.BTM.Agent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ac52508b956bcec9">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>

